<div class="wrapper">
  <div class="supplier">
    <h3>SUPPLIER</h3>
    <h4>
      MY COMPANY
    </h4>
    <div>
      VAT No.: 98237189312
    </div>
    <div>
      Reg. No.: 2978312482
    </div>
    <div>
      Address: 4802 Koontza Lane North Hollywood, CA 91605
    </div>
    <div>
      Capital: 1200RON
    </div>
    <div>
      Cont: XXXXXXXXXXXXXXX
    </div>
    <div>
      Bank: ING Bank
    </div>
    <div>
      BIC code: INGBROBU
    </div>
  </div>

  <div class="client">
    <h3>NEW CLIENT</h3>
    <form [formGroup]="clientForm">
      <mat-form-field>
        <input matInput type="text" placeholder="Company Name" formControlName="companyName"
               [matAutocomplete]="allClients">
        <mat-autocomplete autoActiveFirstOption #allClients="matAutocomplete">
          <mat-option *ngFor="let client of clients$ | async" [value]="client.companyName"
                      (onSelectionChange)="selectClient(client, $event)">
            <span>{{client.companyName}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="VAT Number" formControlName="vatNo">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Address">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Other">
      </mat-form-field>
    </form>
    <div class="actions">
      <button mat-button mat-raised-button>Cancel</button>
      <button mat-button mat-raised-button>Save</button>
    </div>
  </div>
</div>
