.wrapper{
  display: flex;
  justify-content: space-around;
}
.supplier{
  background-color: lightgray;
  padding: 0 30px 0 15px;
}
.client{
  width: 35%;
}

h3, h4 {
  font-weight: bold;
}

mat-form-field{
  display: block;
}

.actions{
  display: flex;
  justify-content: flex-end;
}
